<!DOCTYPE html>
<html>
	<head>
		<title>Nud.gs</title>
		<link href="nudgs.css" media="all" rel="stylesheet" type="text/css"/>
		<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.7/jquery.js"></script>
		<script src="http://jquery-json.googlecode.com/files/jquery.json-2.3.min.js"></script>
		<script src="http://documentcloud.github.com/underscore/underscore-min.js"></script>
		<script src="http://documentcloud.github.com/backbone/backbone.js"></script>
		<script src="../btapp/backbone.btapp.js" type="text/javascript"></script>
		<script src="nudgs.js"></script>
		<script charset="utf-8" src="http://widgets.twimg.com/j/2/widget.js"></script>
	</head>

	<body>
		<div id="nudgetweets">
			<script>
			new TWTR.Widget({
			  version: 2,
			  type: 'search',
			  search: 'http://nud.gs/',
			  interval: 3000,
			  title: 'Recent Nud.gings',
			  width: 'auto',
			  height: 300,
			  theme: {
				shell: {
				  background: '#ccc',
				  color: '#ffffff'
				},
				tweets: {
				  background: '#ffffff',
				  color: '#444444',
				  links: '#1985b5'
				}
			  },
			  features: {
				scrollbar: true,
				loop: false,
				live: true,
				behavior: 'all'
			  }
			}).render().start();
			</script>
		</div>
		
		<!-- Nudge App Interface -->
		<div id="nudgeapp">
			<div class="title">
				<h1>Nud.gs!</h1>
			</div>
			<div class="content">
			<div id="create-nudge">
				<div id="new-nudge">
					Click to nudge a file
				</div>
			</div>
				<div id="nudges">
					<ul id="nudge-list">
					</ul>
				</div>
				<div id="nudge-stats">
				</div>
			</div>
		</div>
		<ul id="instructions">
			<li>Wanna take a look under the hood?</li>
			<li><a href="../../docs/nudges.html">View the annotated source.</a></li>
		</ul>
		<div id="credits">
			Inspired by <a href="http://documentcloud.github.com/backbone/examples/todos/index.html">Todos</a> by
			<br/>
			<a href="http://jgn.me/">J&eacute;r&ocirc;me Gravel-Niquet</a>
		</div>

		<!-- Templates -->
		<script type="text/template" id="item-template">
			<div class="nudge">
				<div class="display">
					<div class="nudge-text">
					</div>
					<div class="nudge-link">
					</div>
					<span class="nudge-destroy">
					</span>
				</div>
				<div class="edit">
					<input class="nudge-input" type="text" value="" />
				</div>
			</div>
		</script>

		<script type="text/template" id="stats-template">
			<% if (total) { %>
			<span class="nudge-count">
				<span class="number"><%= remaining %></span>
				<span class="word"><%= remaining == 1 ? 'file' : 'files' %></span> nudged.
			</span>
			<% } %>
		</script>

	</body>
</html>
